<div></div><button id="refresh_jobs" type="button" class="btn btn-primary pull-right">Refresh <i class="icon-refresh icon-white"></i></button></div>
        <br/><br/>
<table class="table table-bordered table-striped table-hover table-condensed" id="collection_data_table">
    <thead>
    <tr>
        <th>#</th>
        <th>Username</th>
        <th>Group</th>
        <th>Enabled</th>
        <th>Deleted</th>
        <th>Collection Centers</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
