<h1>Change Password</h1>
<br/>
<div id="edit_password_div">
    <form class="form-horizontal">
        <!------------------------------------------->
        <div class="control-group">
            <label class="control-label" for="input_current_password">Current Password</label>

            <div class="controls">
                <input type="text" id="input_current_password" placeholder="Curent Password" autocomplete="off">
            </div>
        </div>
        <!------------------------------------------->
        <div class="control-group">
            <label class="control-label" for="input_password_1">New Password</label>

            <div class="controls">
                <input type="text" id="input_password_1" placeholder="New Password" autocomplete="off">
            </div>
        </div>
        <!------------------------------------------->
        <div class="control-group">
            <label class="control-label" for="input_password_2">Confirm</label>

            <div class="controls">
                <input type="text" id="input_password_2" placeholder="Repeat" autocomplete="off">
            </div>
        </div>
        <!------------------------------------------->

        <div class="control-group">
            <div class="controls">
                <!--<label class="checkbox">-->
                    <!--<input type="checkbox"> Remember me-->
                <!--</label>-->
                <button class="btn btn-primary" type="button" id="button_save_password" data-loading-text="Saving..." autocomplete="off">Save</button>
            </div>
        </div>
    </form>
</div>

