<h1>Entry Form</h1>
<br/>
<div id="new_entry_div">
    <form class="form-horizontal">
        <!------------------------------------------->
        <div class="control-group">
            <label class="control-label" for="district">District</label>

            <div class="controls">
                <input type="text" id="inputdistrict" placeholder="Select District" autocomplete="off">
            </div>
        </div>
        <!------------------------------------------->
        <div class="control-group">
            <label class="control-label" for="division">Division</label>

            <div class="controls">
                <input type="text" id="inputdivision" placeholder="Select Division" autocomplete="off">
            </div>
        </div>
        <!------------------------------------------->
        <div class="control-group">
            <label class="control-label" for="habitation">Habiation</label>

            <div class="controls">
                <input type="text" id="inputhabitation" placeholder="Select Habitation" autocomplete="off">
            </div>
        </div>
        <!------------------------------------------->
        <div class="control-group">
            <label class="control-label" for="component">Component</label>

            <div class="controls">
                <input type="text" id="inputcomponent" placeholder="Select Component" autocomplete="off">
            </div>
        </div>
        <!------------------------------------------->
        <div class="control-group">
            <label class="control-label" for="supplyhours">Supply Hours</label>

            <div class="controls">
                <input type="hidden" id="inputsupplyhours" style="width: 220px;" autocomplete="off">
            </div>
        </div>
        <!------------------------------------------->
        <div class="control-group">
            <label class="control-label" for="inputrecovery">Recovery</label>

            <div class="controls">
                <input type="hidden" id="inputrecovery" style="width: 220px;" autocomplete="off">
            </div>
        </div>
        <!------------------------------------------->

        <div class="control-group">
            <div class="controls">
                <!--<label class="checkbox">-->
                    <!--<input type="checkbox"> Remember me-->
                <!--</label>-->
                <button class="btn btn-primary" type="button" id="new_user_create_btn" data-loading-text="Saving..." autocomplete="off">Save Entry</button>
            </div>
        </div>
    </form>
</div>
