<div class="well sidebar-nav">
    <ul class="nav nav-list" id="nav_sidebar_admin">
        <li class="nav-header">Admin</li>
        <li id="nav_sidebar_admin_home"><a href="#admin">Admin Home</a></li>
        <li id="nav_sidebar_admin_auditlog"><a href="#activitylog">Activity Log</a></li>
        <li class="nav-header">Account Information</li>
        <li id="nav_sidebar_admin_new_user"><a href="#user/new">Create User</a></li>
        <li id="nav_sidebar_admin_list_users"><a href="#users">List Users</a></li>
        <li class="nav-header">Collection Centers</li>
        <li id="nav_sidebar_admin_list_collectioncenters"><a href="#admin/collectioncenters/list">List</a></li>
        <li class="nav-header">Billing Groups</li>
        <li id="nav_sidebar_admin_new_billgroup"><a href="#admin/billgroup/new">Create Group</a></li>
        <li id="nav_sidebar_admin_list_billgroups"><a href="#admin/billgroup/list">List Groups</a></li>
    </ul>
</div><!--/.well -->
