<div class="navbar-inner">
    <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">PunjabWater.net</a>

        <div class="nav-collapse collapse">
            <!--<p class="navbar-text pull-right">-->
            <!--<a href="#logout" class="navbar-link">Logout</a>-->
            <!--</p>-->
            <ul class="nav" id="nav_topbar">
                <!--<li id="nav_topbar_account"><a href="#ledger">Account</a></li>-->
                <li id="nav_topbar_home"><a href="#ledger">Home</a></li>
                <li id="nav_topbar_downloads"><a href="#downloads/forms/new_connection">Downloads</a></li>
            </ul>
            <ul class="nav pull-right" id="nav_topbar2">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#logout">Logout</a></li>
                        <li class="divider"></li>
                        <li class="nav-header">Profile</li>
                        <li><a href="#password">Change Password</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

